{% extends "layout.html" %}
{% block content %}
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">Coming Soon</h1>
        </div> 
    </div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
</body>
{% endblock %}